.switch {
  @apply flex cursor-pointer justify-start rounded-full bg-gray-200/40 p-[0.1em] transition-colors duration-300;
  width: 2em;
  height: 1em;
}

.switchDark {
  @apply flex cursor-pointer justify-start rounded-full bg-dark/40 p-[0.1em] transition-colors duration-300;
  width: 2em;
  height: 1em;
}

.switchOn {
  @apply justify-end;
}

.handle {
  @apply rounded-full bg-white;
  width: 0.8em;
  height: 0.8em;
}
