@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 250 250 250;
  --tw-color-primary-100: 245 245 245;
  --tw-color-primary-200: 229 229 229;
  --tw-color-primary-300: 212 212 212;
  --tw-color-primary-400: 163 163 163;
  --tw-color-primary-500: 115 115 115;
  --tw-color-primary-600: 82 82 82;
  --tw-color-primary-700: 64 64 64;
  --tw-color-primary-800: 38 38 38;
  --tw-color-primary-900: 23 23 23;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fafafa */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #f5f5f5 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #e5e5e5 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #d4d4d4 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #a3a3a3 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #737373 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #525252 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #404040 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #262626 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #171717 */
  /* #endregion  /**======== Primary Color =========== */
}

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  body::-webkit-scrollbar {
    @apply h-3 w-3;
  }

  body::-webkit-scrollbar-track {
    @apply bg-dark;
  }

  body::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-700;
  }

  body::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-600;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-primary text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-primary text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply font-primary text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply font-primary text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply font-primary text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
