.presentation {
  @apply mx-auto my-6 w-11/12 max-w-4xl px-6 text-xl text-gray-200 md:my-12 md:w-10/12 md:px-12 md:text-2xl lg:w-9/12;
}
.presentation span {
  @apply font-medium text-white;
}

.skills {
  @apply mx-auto mb-6 w-11/12 max-w-4xl px-6 text-white md:mb-12 md:w-10/12 md:px-12 lg:w-9/12;
}
.skills h2 {
  @apply mb-2 text-center underline md:mb-4;
}
.skills .skillsContainer {
  @apply flex flex-wrap justify-center gap-8;
}
.skills .skillsContainer .skill {
  @apply flex flex-col items-center gap-2 transition-transform duration-300 hover:scale-125;
}
.skills .skillsContainer .skill .skillSVG {
  @apply h-fit w-14 shadow-black drop-shadow-lg md:w-20;
}

.projects {
  @apply w-11/12 text-white md:w-10/12 lg:w-9/12 2xl:w-8/12;
}
.projects h2 {
  @apply mb-2 text-center underline md:mb-4;
}
.projects .projectContainer {
  @apply mb-6 flex flex-col items-center md:mb-12;
}
.projects .projectMockupBg {
  @apply w-full rounded-3xl p-6 bg-blend-multiply shadow-lg md:p-12;
}
.projects .projectMockup {
  @apply rounded-3xl drop-shadow-xl;
}
.projects .projectDescContainer {
  @apply my-3 grid w-full grid-cols-2 gap-3 px-6 md:px-12;
}
.projects .projectTitle {
  @apply text-lg font-medium;
}
.projects .projectTime {
  @apply text-right text-lg font-light text-neutral-200;
}
.projects .projectTech {
  @apply col-span-2 flex items-center gap-3;
}
.projects .techSVG {
  @apply h-fit w-14 shadow-black drop-shadow-lg;
}
