.ipfs {
  @apply mx-auto my-6 flex w-11/12 max-w-4xl flex-col items-center gap-4 px-6 text-xl text-gray-200 md:my-12 md:w-10/12 md:gap-8 md:px-12 md:text-2xl lg:w-9/12;
}
.ipfs h1 {
  @apply text-center text-white underline;
}
.ipfs p {
  @apply text-center text-xl md:text-2xl;
}
.ipfs .form {
  @apply flex w-full justify-between gap-4 rounded-full bg-white p-4 text-base text-gray-400;
}
.ipfs .form .inputText {
  @apply flex w-full items-center;
}
.ipfs .form input {
  @apply m-0 w-full border-none p-0 text-base text-gray-800 focus:border-transparent focus:outline-none focus:ring-0 active:border-transparent active:outline-none active:ring-0;
}
.ipfs .form select {
  @apply m-0 border-none bg-none p-0 focus:border-transparent focus:outline-none focus:ring-0 active:border-transparent active:outline-none active:ring-0;
}
.ipfs .form button {
  @apply aspect-square h-full shrink-0 rounded-full bg-primary-gradient p-2 text-white transition-transform duration-300 hover:scale-125 focus:scale-125;
}
.ipfs .form button svg {
  @apply inline-block h-full w-full;
}
