.input {
  @apply w-full rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 focus:border-primary-300 focus:outline-none focus:ring focus:ring-primary-100;
}

.label {
  @apply mb-2 block text-sm text-gray-200;
}

.errorMessage {
  @apply my-2 block text-sm text-red-300;
}

.sucessMessage {
  @apply my-2 block text-sm text-green-300;
}
